$bp-mobile: 800px;

$color-primary: hsl(322, 100%, 66%);

$color-pale-cyan: rgb(234, 250, 255);
$color-dark-cyan: hsl(192, 100%, 9%);
$color-grayish-blue: hsl(208, 11%, 55%);

$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Poppins', sans-serif;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 112.5%; //1rem = 18px;
}

body{
    font-family: $font-primary;
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template-rows: 70vh repeat(2, min-content);

    @media only screen and (max-width: $bp-mobile) {
        grid-template-rows: 90vh repeat(2, min-content);
    }
}