.footer {
    width: 100vw;
    padding: 0 6rem 1rem 6rem;
    background-color: $color-dark-cyan;
    color: $color-pale-cyan;

    @media only screen and (max-width:$bp-mobile) {
        padding: 1rem;
    }

    &__questionBox {
        width: 90vw;
        z-index: 100;
        max-width: 43rem;
        margin-left: auto;
        margin-right: auto;
        padding: 3.5rem 7rem;
        border-radius: 15px;
        box-shadow: 0px 0px 14px -1px rgba(0,0,0,0.15);
        background-color: white;

        display: grid;
        grid-template-rows: repeat(2, min-content);

        transform: translateY(-10rem);

        @media only screen and (max-width:$bp-mobile) {
            padding: 2rem 1.5rem;
            transform: translateY(-7rem);
        }

        &-btn {
            box-shadow: 0 .5rem 1rem rgba(black, 0.2);
            width: 20rem;
            justify-self: center;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            font-size: 1rem;
            margin-top: 2rem;

            @media only screen and (max-width:$bp-mobile) {
                width: 60vw;
                padding-top: 1rem;
                padding-bottom: 1rem;
                font-size: .7rem;
            }
        }
    }

    &__container {
        max-width: 80rem;
        margin: 0 auto;

        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-row-gap: 2rem;

        margin-top: -4rem;
    }

    &__logo {
        height: 2rem;
        @media only screen and (max-width:$bp-mobile) {
            height: 1.5rem;
        }
    }

    &__info {
        display: grid;
        grid-template-columns: 2.2fr repeat(3, 1fr);
        grid-column-gap: 5rem;

        @media only screen and (max-width:$bp-mobile) {
            grid-template-rows: repeat(4, min-content);
            grid-template-columns: 1fr;
            grid-column-gap: 0;
        }

        &-col1 {
            display: grid;
            grid-template-rows: repeat(3, min-content);
            grid-row-gap: 1.5rem;
            font-size: .8rem;

            &__item{
                width: 100%;
                display: grid;
                grid-template-columns: min-content 1fr;
                grid-column-gap: 1rem;

                &-icon {
                    width: 1rem;
                    padding-top: .2rem;
                }
            }

            @media only screen and (max-width:$bp-mobile) {
                margin-bottom: 2rem;
            }
        }

        &-col2 {
            display: grid;
            grid-template-rows: repeat(3, min-content);
            grid-row-gap: 1.5rem;
            font-size: .9rem;
            
            &__link:link,
            &__link:visited {
                color: $color-pale-cyan;
                text-decoration: none;
                transition: all .3s;
            }

            &__link:hover,
            &__link:active {
                transform: translateY(-3px);
            }

            @media only screen and (max-width:$bp-mobile) {
                margin-top: 1rem;
                grid-row-gap: 1rem;
            }
        }

        &-col3 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;
            
            @media only screen and (max-width:$bp-mobile) {
                margin-top: 3rem;
            }
        }
    }

    &__copyright {
        font-size: .7rem;
        justify-self: right;
        @media only screen and (max-width:$bp-mobile) {
            justify-self: center;
        }
    }

    &__attribution {
        font-size: .7rem;
        justify-self: center;
    }
    .attribution a { color:$color-pale-cyan; }


    
}

.fab {
    transform: scale(1.4);
    align-self: start;
}

.fa-facebook {
    @media only screen and (max-width:$bp-mobile) {
       justify-self: right;
       margin-right: -1.5rem;
    }
}
.fa-twitter-square {
    @media only screen and (max-width:$bp-mobile) {
       justify-self: center;
    }
}
.fa-instagram {
    @media only screen and (max-width:$bp-mobile) {
       justify-self: left;
       margin-left: -1.5rem;
    }
}

// .attribution { font-size: 11px; text-align: center; color: $color-pale-cyan; }
// .attribution a { color:$color-pale-cyan; }